extends layout

block content
    .container
        ul.nav.nav-pills#myTab(role="tabList")
            li.nav-item
                a.nav-link.active#home-tab(data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true")
                    | Activities
            li.nav-item
                a.nav-link#profile-tab(data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false")
                    | My profile
                    - if (user.postData.fullName === "" || user.postData.address === "") {
                        span.badge.badge-warning
                            | !
                     - }

        div.tab-content#myTabContent.mt-3
            div.tab-pane.fade.show.active#home(role="tabpanel" aria-labelledby="home-tab")
                  for event in events
                        div.rounded.border.border-secondary.mt-3
                            div.event-header.p-3
                                | #{event.name}
                            div.progress(style="height: 5px")
                                div.progress-bar.bg-secondary(role="progressbar" style="width: #{event.completion}%" aria-valuenow="#{event.completion}" aria-valuemin="0" aria-valuemax="100")
                            div.event-content.p-3
                                - if (event.addressee) {
                                    input.event-id(type="hidden" name="target" value="#{event.id}")
                                    div.postcard
                                        p
                                            span.postcard-item-header Кому
                                            span.postcard-item #{event.addressee.fullName}
                                        p
                                            span.postcard-item-header Куда
                                            span.postcard-item #{event.addressee.address}
                                        p
                                            span.postcard-item-header Об адресате
                                            span.postcard-item #{event.addressee.about}
                                    div.actions
                                        div.checkbox
                                            label
                                                input.isSent(type="checkbox", name="isSent", checked=(event.isGiftSent ? 'checked' : undefined))
                                                | I sent the gift
                                        div.checkbox
                                            label
                                                input.isReceived(type="checkbox", name="isReceived", checked=(event.isGiftReceived ? 'checked' : undefined))
                                                | I received the gift
                                - } else {
                                    div.empty-postcard
                                        p Nothing here yet!
                                        p You'll get an address at
                                        p
                                            span.sending-date #{event.endDate}
                                - }

            div.tab-pane.fade#profile(role="tabpanel" aria-labelledby="profile-tab")
                form#update-profile-form(name="update-profile")
                    div.row
                        div.col-lg-8
                            div.form-group
                                input.form-control#fullName(type="text", name="fullName", value="#{user.postData.fullName}", placeholder='Full name')
                        div.col-lg-4
                            div.form-group
                                div.input-group
                                    span.input-group-addon#login-symbol
                                        | @
                                    input.form-control#telegramLogin(type="text", placeholder="Telegram login" aria-label="Telegram login" aria-describedby="login-symbol", value="#{user.telegramLogin}")

                    div.form-group
                        textarea.form-control#address(name="address", cols="40", rows="5", placeholder='Address: city, street, house, zip-code')
                            | #{user.postData.address}
                    div.form-group
                        textarea.form-control#about(name="about", cols="40", rows="10", placeholder='About you')
                            | #{user.about}
                    div.form-group
                        button#submit.btn.btn-main
                            | Сохранить
                        label#reply

    script(type='text/javascript').
        $("#update-profile-form").submit(function (e) {
            e.preventDefault();
        });

        $('#submit').click(function () {
            var data = {};
            data.fullName = $('#fullName').val();
            data.address = $('#address').val();
            data.about = $('#about').val();
            data.telegramLogin = $('#telegramLogin').val();

            $('#reply').css('opacity', '1').text("Сохраняю...");
            $.post('/update_profile', data, function (result) {
                $('#reply').text("Сохранено.").delay(2000).animate({opacity:0});

                let badgeExists = $('#profile-tab').find('.badge').length > 0;

                if (!badgeExists && (result.postData.fullName === '' || result.postData.address === '')) {
                    $('#profile-tab').append('<span class="badge badge-warning">!</span>');
                }

                if (badgeExists && result.postData.fullName !== '' && result.postData.address !== '') {
                    $('#profile-tab .badge').remove();
                }
            })
        })

        $('.isSent').change(function () {
            var event = {};
            event.id = $(this).parents('.event-content').find('.event-id').val();
            event.isGiftSent = this.checked;
            $.post('/update_event', event)
        })

        $('.isReceived').change(function () {
            var event = {};
            event.id = $(this).parents('.event-content').find('.event-id').val();
            event.isGiftReceived = this.checked;
            $.post('/update_event', event)
        })