extends layout

block content
    .container
        - if (typeof(target) !== 'undefined' || typeof(target.postData) !== 'undefined'){
        .row
            .col
            .col-6
                | #{target.postData.fullName}
                | #{target.postData.address}
                | #{target.about}
            .col
        .row
        -}
            .col
            .col-6
                form(name="register-participant")
                    div.form-group
                        label(for="fullName") Полное ФИО
                        input.form-control#fullName(type="text", name="fullName", value="#{user.postData.fullName}")
                    div.form-group
                        label(for="address") Адрес
                        textarea.form-control#address(name="address", cols="40", rows="5")
                            | #{user.postData.address}
                    div.form-group
                        label(for="about") Расскажите о себе
                        textarea.form-control#about(name="about", cols="40", rows="10")
                            | #{user.about}
                    div.form-group
                        button#submit.btn.btn-primary
                            | Сохранить
                        label#reply
            .col
    script(type='text/javascript').
        $('#submit').click(function () {
            var data = {};
            data.fullName = $('#fullName').val()
            data.address = $('#address').val()
            data.about = $('#about').val()

            $('#reply').css('opacity', '1').text("Сохраняю...")
            $.post('/update_profile', data, function (result) {
                $('#reply').text("Сохранено.").delay(2000).animate({opacity:0});
            })
        })